<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <div class="index">
      <%- include('./common/header.ejs',{nickname:nickname,isAdmin: isAdmin}) %> 
      <div class="container">
        <div class="menu">
           <%- include('./common/menu.ejs',{isAdmin:isAdmin}) %> 
        </div>
        <div class="main">
            <h1 class="title">手机管理</h1>
            <h2>新增手机</h2>
            <table>
              <thead>
                <tr>
                  <td>序号</td>
                  <td>图片</td>
                  <td>手机名称</td>
                  <td>所属品牌</td>
                  <td>官方指导价</td>
                  <td>二手回收价</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>假装有图</td>
                  <td>小米8探索者</td>
                  <td>小米</td>
                  <td>3888</td>
                  <td>2000</td>
                  <td>修改</td>
                </tr>
              </tbody>
            </table>
            
        </div>
      </div>
    </div>
  </body>
</html>