.index {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .index .header {
    height: 80px;
    line-height: 80px;
    background: rgb(12, 41, 59);
    color:#fff;
  }
  
  .index .container {
    display: flex;
    flex: 1;
  }
  
  .container .menu {
    width: 260px;
    height: 100%;
    background: #21C1CD;
  }
  
  .container .main {
    flex: 1;
    height: 100%;
    padding: 0 50px;
  }
  
  /* // ======== [头部样式] ======== */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .header .header_right {
    display: flex;
    font-weight: lighter;
  }
  .logBtn{
    background: rgba(0, 195, 255, 0.452);
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px; 
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
  }
  .header_right p span{
    color: rgb(245, 87, 87);
  }
  .header_left{
    font-size: 20px;
  }
  .header_left a{
    color: #fff;
  }
  /* // ======== [左侧菜单] ======== */
  .menu ul{
    margin-top: 50px;
  }
  .menu .menu_item {
    height: 50px;
    margin-bottom: 20px; 
  }
  .menu .menu_item a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 210px;
    height: 100%;
    margin-left: 20px;
    line-height: 50px;
    font-size: 16px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
  }
 h1.title{
   height: 50px;
   text-align: center;
   line-height: 50px;
   font-size: 28px;
   font-weight: lighter;
   border-bottom: 1px solid #ddd;
 }
 .huaji{
   width: 500px;
   margin-left: 340px;
   margin-top: 100px;
 }
 .pageNum{
   width: 1000px;
   overflow: hidden;
   text-align: center;
   margin-top: 30px;
   padding-bottom: 50px;
 }
 .pageNum li{
   display: inline-block;
   width: 40px;
   height: 40px;
   background: #999;
   text-align: center;
   line-height: 40px;
 }
 .pageNum li a{
   color: #fff;
 }