.index {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .index .header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #000;
  }
  
  .index .container {
    display: flex;
    flex: 1;
  }
  
  .container .menu {
    width: 260px;
    height: 100%;
  }
  
  .container .main {
    flex: 1;
    height: 100%;
  }
  
  /* // ======== [头部样式] ======== */
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .header_right {
    display: flex;
  }
  
  /* // ======== [左侧菜单] ======== */
  .menu {
    border-right: 1px solid #000;
  }
  
  .menu .menu_item {
    height: 50px;
    line-height: 50px;
  }

  #updateBox{
    position: fixed;
    top:200px;
    left: 280px;
    padding: 20px 50px;
    background:#ddd;
    border: 1px solid #000;
    display: none;
  }
  #updateBox h2{
    text-align: center;
  }
  label.change{
    display: block;
    height: 50px;
    line-height: 50px;
  }
  label.change span{
    display: inline-block;
    width: 60px;
  }
  label.change input{
    border: none
  }
 #updateBox #sub{
    display: inline-block;
    padding: 10px 20px;
    background: green;
    margin-right: 80px;;
    border: none;
    cursor: pointer;
  }
 i.cancle{
    padding: 10px 20px;
    background: green;
    cursor: pointer;
  }