body{
  background: url(/images/bg.png) no-repeat center;
  background-size: 100%;
}
.container{
  margin-top: 50px;
}
.row .control-label{
  padding: 0;
  padding-right: 5px;
  padding-top: 7px; 
  text-align: center;
}
.col-sm-9{
  padding: 0;
  padding-left: 5px;
}
.hd_tit{
  margin-left: 40px;
  margin-bottom: 20px;
  
}
.btns{
  padding-top: 7px;
}
.btn{
  margin-left: 170px;
}

