body{
  background: url(/images/bg.png) no-repeat center;
  background-size: 100%;
  background-color: #060333; 
}
.container{
  margin-top: 50px;
}
.row .control-label{
  padding: 0;
  padding-right: 5px;
  padding-top: 7px; 
  text-align: center;
}
.col-sm-9{
  padding: 0;
  padding-left: 5px;
}
.hd_tit{
  margin-left: 50px;
  margin-bottom: 30px;
  
}
.btns{
  padding-top: 7px;
}
.btn{
  margin-left: 170px;
}
.to-reg,.to-log{
  color: #fff;
  float: right;
  display: inline-block;
  padding: 10px 0;
}
a:hover{
  text-decoration: none;
}
.form-group{
  margin-bottom: 5px;
}
.form-group span{
  color: #f30601;
  visibility: hidden;
}