<div class="menu">
  <ul>
   <% if(isAdmin){ %>
    <li class="menu_item">
        <a href="/user-manager.html" class="item1">用户管理</a>
    </li>
   <% }  %>

    <li class="menu_item">
      <a href="/mobile-manager.html" class="item2">手机管理</a>
    </li>

    <li class="menu_item">
      <a href="/brand-manager.html" class="item3">品牌管理</a>
    </li>
  </ul>
</div>
